header{
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    background-color: #addf75;
    height: 7vh;
    align-items: center;
}

header .header-content .logo{
    font-family:comic-bold,sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
}

header nav{
    font-family: comic-neue,sans-serif;
    font-size:1.5em;
    align-self: end;
}